@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Teko:wght@500;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

.body
{
  background-color: #D8D8D8;
}

.navbar
{
  width: 100%;
  overflow: auto;
}
.navbar a
{
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Cinzel',sans-serif;
}

.navbar a:hover
{
  background-color: white;
}

.active
{
  background-color: #4CAF50;
}

@media screen and (max-width: 500px)
{
  .navbar a {
    float: none;
    display: block;
  }
}
@media only screen and (min-device-width: 400px) {
    .image {
        background-image: url('../images/portfolio-background.jpeg');
   }
}

.image
{
  max-width: 100%;
  height: 100%;
  background-image: url('../images/portfolio-background.jpeg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-div h1
{
  font-weight: bolder;
  font-size: 70px;
  padding-top: 50px;
  font-family: 'Yatra One', sans-serif;
  font-style: italic;
  text-align: left;
  color: white;
}
.image-div p
{
  font-weight: bold;
  font-size: 30px;
  font-family: 'Dancing Script', sans-serif;
  font-style: italic;
  text-align: left;
  color: white;
}

.headings
{
  padding-top: 20px;
  text-align: center;
  font-family: 'Yatra One',sans-serif;
  font-size: 50px;
}

.col-md-4, .col-md-6
{
  margin-bottom: 5px;
  /* border-right: 1px solid grey; */
  border-radius: 5px;
  font-style: italic;
}

.background div:hover
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-4 a:hover, .col-md-6 a:hover
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-4 h2, .col-md-6 h2, .col-sm-6 h2
{
  font-family: 'Lobster', sans-serif;
}
.col-md-4 a, .col-md-6 a
{
  float: center;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
}

.col-md-4 a:hover
{
  background-color: white;
}

.footer-basic {
  padding:40px 0;
  background-color:#D8D8D8;
  color:black;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:black;
  margin-bottom:0;
}
