@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Teko:wght@500;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar
{
  width: 100%;
  overflow: auto;
}
.navbar a
{
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar a:hover
{
  background-color: white;
}

.active
{
  background-color: #4CAF50;
}

@media screen and (max-width: 500px)
{
  .navbar a {
    float: none;
    display: block;
  }
}

.image
{
  /* width: 1000px; */
  height: 700px;
  background-image: url('../images/background.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-div h1
{
  font-weight: bolder;
  font-size: 70px;
  padding-top: 50px;
  font-family: 'Yatra One', sans-serif;
  font-style: italic;
  text-align: left;
  color: white;
}
.image-div p
{
  font-weight: bold;
  font-size: 30px;
  font-family: 'Dancing Script', sans-serif;
  font-style: italic;
  text-align: left;
  color: white;
}

.headings
{
  padding-top: 20px;
  text-align: center;
  font-family: 'Teko',sans-serif;
  font-size: 50px;
}

.col-md-4, .col-md-6
{
  margin-bottom: 5px;
  border-right: 1px solid grey;
  border-radius: 5px;
  font-style: italic;
}

.col-md-4 h2
{
  font-family: 'Lobster', sans-serif;
}
.col-md-4 a
{
  float: center;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
}

.col-md-4 a:hover
{
  background-color: white;
}
